@import "../../../config.scss";

.task-view-container {
    width: 90%;
    margin: 1% auto;
    margin-left: 8%;
    border: 1px solid $light-gray;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 85vh;
}
.section-1 {
    padding: 10px;
    width: 65%;
    border: 1px solid $light-gray;
    height: 800vh;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.section-2 {
    padding: 10px;
    width: 35%;
    border: 1px solid $light-gray;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.summary {
    p {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
    }
}

.subtask-list-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 10px;

    .subtask_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $light-gray;
        box-shadow: $shadow1;
        padding: 6px;
        .subtask-summary {
            font-size: 18px;
            width: 70%;
            max-width: 65%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
        }
        .subtask-action-box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;
            width: 30%;
        }
    }

}

.description {
    .description-head {
     font-weight: bold;
    }
}