@import "../../../config.scss";

.employee-container {
    width: 90%;
    margin: 1% auto;
    margin-left: 8%;
    border: 1px solid $light-gray;
    border-radius: 6px;
    padding: 12px;
}
.employee-table-container {

}
.table-box {
    height: 70vh;
    overflow-y: auto;
    table {
        width: 100%;
    }
}

.employee-head {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

}

.filter-input {
    width: 25%;
}