<app-navbar></app-navbar>
<div class="employee-container">
    
    <div class="full-width employee-table-container">

        <div class="employee-head">
            <mat-form-field class="filter-input">
                <input matInput placeholder="Filter" (keyup)="searchEmlist()" [(ngModel)]="searchEmText">
                <button mat-button matSuffix mat-icon-button (click)="clearEmSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div>
                <button mat-flat-button class="btn-border" (click)="addNewEmployee()">Add new <mat-icon>add</mat-icon></button>
            </div>
        </div>
        <div class="table-box">
            <table mat-table [dataSource]="dataSource">
        
                <ng-container matColumnDef="employee_id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.employee_id}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let row"> {{row.role}} </td>
                </ng-container>
        
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.userName}}</td>
                </ng-container>
        
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>
        
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef> Created at </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.createdAt}} </td>
                </ng-container>
        
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color">
                        <button *ngIf="_commonService.isSuperAdmin" mat-icon-button (click)="editEmployee(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="_commonService.isSuperAdmin" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="_employeeService.displayedEmployeeColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: _employeeService.displayedEmployeeColumns;">
                </tr>
            </table>
        </div>
    </div>
</div>


<app-employee-create-edit *ngIf="_employeeService.showEmployeeCreateEditPopup" [mode]="_employeeService.employeeCreateEditMode" [editData]="_employeeService.employeeCreateEditData" (closePopup)="onEmClosePopup()" ></app-employee-create-edit>
<app-loader *ngIf="isLoading"></app-loader>