@import "../../../config.scss";

.employee-ce-container {
    width: 30%;
    padding: 20px;
    background-color: $white-color;
    box-shadow: $shadow2;
    border: 2px solid $light-gray;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p {
        font-size: 20px;
        font-weight: bold;
    }
}
.inputs-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}
.btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.toggle-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
