@import "../../../config.scss";

.login-container-box {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login-box {
    width: 35%;
    height: 400px;
    background-color: $primary-color;
    box-shadow: $shadow2;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.login-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

}