<div class="task-container">
  <div class="full-width">

    <div class="full-width filter-options">

      <div class="assigned-to">
        <mat-form-field>
          <mat-select placeholder="Assignee" [formControl]="selectedEmployeeList" multiple>
            <mat-option *ngFor="let user of employeeList" [value]="user._id">{{user.userName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="status">
        <mat-form-field>
          <mat-select placeholder="Status" [formControl]="selectedStatus" multiple>
            <mat-option *ngFor="let s of statusList" [value]="s.status">{{s.status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="workType">
        <mat-form-field>
          <mat-select placeholder="Type" [formControl]="selectedWorkType" multiple>
            <mat-option *ngFor="let w of _commonService.workTypes" [value]="w">{{w}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>


    <div class="table-container">
      <div class="table-box">
        <table mat-table [dataSource]="_taskService.all_task_subtask_list">
      
          <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef> Summary </th>
            <td mat-cell *matCellDef="let element" class="summary-text" matTooltip="{{element.summary}}" > {{element.summary}} </td>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
      
          <ng-container matColumnDef="assignedTo">
            <th mat-header-cell *matHeaderCellDef> Assigned To </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedTo.userName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="reporter">
            <th mat-header-cell *matHeaderCellDef> Reporter </th>
            <td mat-cell *matCellDef="let element"> {{element.reporter.userName}} </td>
          </ng-container>
          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef> Due Date </th>
            <td mat-cell *matCellDef="let element"> {{element.dueDate|date}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon>open_in_new</mat-icon>
              </button>
              <button *ngIf="_commonService.isSuperAdmin"mat-icon-button (click)="editTask(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="_commonService.isSuperAdmin" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="taskDisplayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: taskDisplayColumns;"></tr>
        </table>
      </div>

    </div>


  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
<app-task-create-edit *ngIf="_taskService.showCreateEditTaskPopup" 
  [mode]="_taskService.taskPopupMode"
  [taskModeType]="_taskService.taskPopupModeType"
  [updateTaskData]="_taskService.taskPopupUpdateData" (ontaskPopupClose)="ontaskPopupClose()">
</app-task-create-edit>