@import "../../../config.scss";

.task-container {
    width: 90%;
    margin: 1% auto;
    margin-left: 8%;
    border: 1px solid $light-gray;
    border-radius: 6px;
    padding: 12px;
}
.filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.filter-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.filter-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.table-box {
  height: 70vh;
  overflow: auto;
  width: 100%;
  table {
    width: 100%;
    tbody tr td {
      margin: 0 50px;
    }
    .summary-text {
        width: 410px;
        max-width: 410px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
  }
}