@import "../../../config.scss";

.firstletterProfile {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid $secondary-color;
    background-color: $white-color;
    color: rgb(random(255), random(255), random(255));
    font-size: 24px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.8s ease;
    font-weight: bold;
    &:hover {
        background-color: $secondary-color;
    }
}