<div class="side-nav-container">
  
  <div class="side-btnbox full-width" routerLink="/" routerLinkActive="side-active-link " [routerLinkActiveOptions]="{exact: true}">
    <button mat-button class="side-nav-btn full-width">
      <div class="side-icon"><mat-icon>work</mat-icon></div>
      <span>Tasks</span>
    </button>
  </div>

  <div class="side-btnbox full-width" routerLink="/employee" routerLinkActive="side-active-link " [routerLinkActiveOptions]="{exact: true}">
    <button mat-button class="side-nav-btn full-width">
      <div class="side-icon"><mat-icon>person</mat-icon></div>
      <span>Employees</span>
    </button>
  </div>

  <div class="side-btnbox full-width" routerLink="/logreport" routerLinkActive="side-active-link " [routerLinkActiveOptions]="{exact: true}">
    <button mat-button class="side-nav-btn full-width">
      <div class="side-icon"><mat-icon>timeline</mat-icon></div>
      <span>Log report</span>
    </button>
  </div>

</div>