$primary-color: #EEF5FF;;
$white-color: #ffffff;
$black-color: #000;
$button-background:#001F3D;
$secondary-color: #CBDCEB;
$button-hover-background: #002455;
$shadow1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$shadow2: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$success-color:#09e809;
$error-color:#d82121;
$danger-color:#d82121;
$warning-color:#ce7714;
$info-color:#5690ff;
$light-gray:#C9CDCF;
