@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'node_modules/angular2-toaster/toaster';
@import "./config.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}


.primary-button {
    background-color: $button-background;
    color: $white-color;
    box-shadow: $shadow2;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        color: $primary-color;
        background-color: $button-hover-background;
    }
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}

.text-center {
    text-align: center;
    text-align: -webkit-center !important;
}

.modal-background-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.modal-background {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    display: grid;
    place-items: center;
}

.norecord {
    font-size: 18px;
    margin-top: 16px;
    text-align: center;
    color: slategrey;
}

.btn-border {
    border: 1px solid $button-hover-background !important;
}

.status-text {
    color: $info-color;
}