@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'node_modules/angular2-toaster/toaster';
@import "./config.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}


.primary-button {
    background-color: $button-background;
    color: $white-color;
    box-shadow: $shadow2;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        color: $primary-color;
        background-color: $button-hover-background;
    }
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}