@import "../../../config.scss";

.log-report-container {
    width: 90%;
    margin: 1% auto;
    margin-left: 8%;
    border: 1px solid $light-gray;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 85vh;
}

.section-1 {
    padding: 10px;
    width: 35%;
    border: 1px solid $light-gray;
    height: 800vh;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.section-2 {
    padding: 10px;
    width: 65%;
    border: 1px solid $light-gray;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.log-table-container {
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: flex-start;
    align-items: normal;
    white-space: nowrap;
    gap: 10px;

}
.section-1 > h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}
.reportbtn-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.log-column {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    border: 1px solid $dark-gray;
    box-shadow: $shadow2;
    border-radius: 4px;
    width: 200px;
    cursor: pointer;
    height: 100%;
    position: relative;
    .log-col-foot {
        font-size: 17px;
        background-color: $secondary-color;
        padding: 4px;
        border-radius: 3px;
        font-family: monospace;
        width: 100%;
        color: #ae59ec;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 5;
    }
    
}
.head-date {
    font-size: 17px;
    background-color: $secondary-color;
    padding: 4px;
    border-radius: 3px;
    font-family: monospace;
    width: 100%;
}
.log-row {
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: $shadow1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .log-taskid {
        color: $warning-color;
        font-family: monospace;
        font-size: 16px;
    }
    .log-timespent {
        color: #ae59ec;
        font-family: monospace;
        font-size: 16px;
    }
}